@using WebTasks.Services;
@using DataLayer.Entities;

@{
    ViewData["Title"] = "Home Page";
}
@model List<Directory>
<div class="">

   @foreach (var item in Model)
    {

        <p>@item.Title</p>

        <br>
            <ul>
            @foreach (var task in item.MyTasks ?? new List<Tasks>(0))
            {
                <li class="ml-3 pl-3 ">@task.Title</li>
            }
            </ul>
            <hr>
    }

</div>
