@using DataLayer.Entities;
@{
    ViewData["Title"] = "Home Page";
}
@model List<Directories>
<div class="text-center">
   @foreach (Directories item in Model)
    {
        <div class="row">
            <p>@item.Title</p><br>
            @foreach (var task in item.MyTasks)
            {
                <p class="ml-3 pl-3 alert-success">@task.Title</p>
            }
            <hr>
        </div>
    }
</div>
