@using WebTasks.Services;
@using DataLayer.Entities;

@{
    ViewData["Title"] = "Direction Edit";
}
@model DirectoryViewModel
<div class="">
    <h1>@Model.Directory.Title</h1>
    @foreach (var task in Model.Tasks ?? new List<Tasks>(0))
    {
        <li class="ml-3 pl-3 "><a asp-action="Task" asp-controller="Page" asp-route-id="@task.Id">@task.Title</a></li>
    }
    
</div>
